body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: #F0FFF0;
    color: black;
}
header{
    padding: 15px 0;
    text-align: center;
    margin-bottom: 20px;
}
p {
    font-size: medium;
}

/* #sidebar {
    display: none;
    color: black;
    background-color: #14cf9a;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    padding-top: 25px;
    padding-left: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.4);
} */

/* #sidebar ul {
    list-style: none;
}

#sidebar ul li {
    margin: 20px 0;
}

#sidebar a {
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: medium;
    display: block;
}

#sidebar a:hover {
    background-color: black;
    color: #14cf9a;
} */

button {
    padding: 12px;
    color: white;
    background-color: #13d36d;
    cursor: pointer;
    font-size: medium;
    border: none;
    border-radius: 10px;
    width: 100%;
}

button:hover {
    background-color: white;
    color: #13d36d;
}

#return-home {
    margin-top: 22px;
}

#return-home a {
    text-decoration: none;
}

#return-home a button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
}

/*Styling Form*/

#Form-container {
    /* margin-left: 300px; */
    /* since we have a side bar*/
    margin: 0 2em 0 2em;
    padding: 25px;
    background-color: lightgrey;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input,
form select,
form textarea,
form button {
    padding: 10px;
    margin: 8px o;
    border: 1px solid rgb(113, 104, 104);
    border-radius: 5px;
    width: 100%;
}

footer{
    text-align: center;
    padding: 10px 0 5px;
    width: 100%;
}