::-webkit-scrollbar {
  display: none;
}
.btn-danger {
  background-color: rgb(254, 50, 50);
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.icon-col a, .name a {
  text-decoration: none;
  color: black;
}
p {
  text-wrap: pretty;
}

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url(./images/troy-mortier-eKY6_9W_iqY-unsplash.jpg) no-repeat
    center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
header.masthead:before {
  content: "";
  position: absolute;
  background-color: #1c375e;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
}
header.masthead h1 {
  margin: 0.5em;
  font-size: 2rem;
  width: 80%;
  color: rgb(255, 255, 255);
  z-index: 1;
}
@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}
/* nav */
nav {
  align-items: center;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid #2ad230;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.nav-container {
  display: none;
}
@media (min-width: 600px) {
  .nav-container {
    width: 20rem;
    display: flex;
    justify-content: space-around;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid #2ad230;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}
/* icon container */
.container .mt-2 {
 margin-top: 20px;
}
.container {
  width: auto;
  margin: 2em 0 2em 2em;
}
.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.icon-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 25%;
}
.icon-background {
  height: 150px;
  width: 150px;
  border-radius: 100px;
  background-color: #2ad230;
}
.combo {
  position: relative;
}
.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.alert {
  height: 6rem;
}
.icon-img {
  position: absolute;
  top: 20%;
  left: 19%;
}
@media screen and (max-width: 600px) {
  .container {
    width: 80%;
    margin: 1em;
  }
  .icon-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .icon-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 25px;
  }
}

/* cards */
.card-container {
  width: 90%;
  margin: 2em 0 0 1em;
}
#col {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}
.card {
  width: 80%;
  margin: 0.5em 0 1em 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #2ad230;
  border-radius: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: left;
  width: 100%;
}
.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: capitalize;
  border-radius: 10px;
  border: 3px dashed rgba(69, 68, 68, 0.17);
  width: 90%;
  height: 1.5rem;
  margin-bottom: 10px;
  padding: 5px;
  color: rgba(69, 68, 68, 0.922);
  background-color: rgba(69, 68, 68, 0.079);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-transform: capitalize;
  border-radius: 10px;
  border: 3px solid rgba(69, 68, 68, 0.17);
  width: 90%;
  height: 3rem, auto;
  margin-top: 5px;
  padding: 5px;
  color: rgba(69, 68, 68, 0.922);
  background-color: rgba(69, 68, 68, 0.079);
}
.location h6,
.description h6,
.title,
h2,
h3 {
  font-size: 18px;
  margin: 5px;
  font-weight: 800;
  text-transform: capitalize;
}
.text-body,
.location-body,
p {
  font-weight: 700;
  font-size: 1em;
  margin: 0;
  margin-top: 4px;
  color: rgba(69, 68, 68, 0.922);
}
@media (min-width: 600px) {
  .card-container {
    width: auto;
    margin: 2em 0 2em 2em;
  }
  .card {
    width: 20rem;
    height: 15rem;
    margin: 2em;
    display: flex;
    flex-direction: column;
  }

  .location {
    width: 100%;
    height: 1.5rem;
  }
  .description {
    width: 100%;
    height: 6rem;
  }
}

/* delete form */
.deletecard {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.deletecard .btn {
  width: 10%;
}
.deletecard .btn-danger {
  width: 25%;
}
@media screen and (max-width: 600px) {
  .deletecard {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .deletecard .btn {
    width: auto;
    text-align: center;
    margin-bottom: 0;
  }
  .deletecard .btn-danger {
    width: auto;
    text-align: center;
    margin-bottom: 0;
  }
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2ad230;
  color: black;
  padding: 0.5em;
  margin-top: 1rem;
}
footer i {
  cursor: pointer;
  margin-top: 0.5em;
}
.space-x-2 {
  display: flex;
  width: 30%;
  justify-content: space-between;
}
.footer-text {
  width: 65%;
  text-align: center;
}
@media (min-width: 600px) {
  .space-x-2 {
    width: 10%;
  }
}
